.footer{
    width: 100%;
    height: 5vh;
    display: flex;
    
    bottom: 0px;
    margin-top: auto;
    background-color: #ECF7E6;
}

.footer-container{
    display: flex;
    width: 100%;
    align-items: center;
    text-align: center;
    justify-content: flex-end;
    padding-right: 5%;
}

.report-link{
    text-decoration: underline;
    color: rgb(25, 137, 0);
}

@media screen and (max-width: 480px)
{
    .footer{
        width: 100%;
        height: 5vh;
        display: flex;
        bottom: 0px;
        margin-top: auto;
        background-color: rgba(236, 247, 230, .9);
    }
    
    .footer-container{
        display: flex;
        width: 100%;
        align-items: center;
        text-align: center;
        justify-content: flex-end;
        padding-left: 0%;
        font-size: 14px;
    }
    
    .report-link{
        text-decoration: underline;
        color: rgb(25, 137, 0);
    }
}