.forgot{
  width: 100%;
  height: 100vh;
  background-color: #ECF7E6;
}

.forgot-container {
  display: flex;
  padding-top: 5%;
  padding-left: 15%;
}

.forgot-component{
  padding-top: 10%;
  display: flex;
flex-direction: column;
align-items: center;

padding: 24px;
width: 80%;

}

.forgot-label{
  padding-top: 2%;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
/* or 75% */
display: flex;
align-items: center;

color: #000000;
}

@media screen and (max-width: 480px)
{
  .forgot{
    width: 100%;
    height: 100vh;
    background-color: #ECF7E6;
  }
  
  .forgot-container {
    display: flex;
    padding-top: 5%;
    padding: 0%;
    width: 100%;
  }
  
  .forgot-component{
    padding-top: 10%;
    display: flex;
  flex-direction: column;
  align-items: center;
  
  padding: 24px;
  width: 100%;
  
  }
  
  .forgot-label{
    padding-top: 2%;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
  /* or 75% */
  display: flex;
  align-items: center;
  
  color: #000000;
  }
}