.home{
    width: 100%;
}

.eclipse{
    position: absolute;
    width: 100%;
    height: 100vh;
    background: #ECF7E6;
    border-bottom-left-radius: 35%;
    border-bottom-right-radius: 20%;
}




.home-container{
    display: flex;
}

.home-content{
    width: 100%;
    margin: 5%;
}



.home-content h1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
    color: #006E60;
}

.home-Img{
    display: flex;
    height: 60vh;
    position: relative;
}

.home-Img::after{
    content: "";
    width: 100%;
    height: 60vh;
    position: absolute;
    background: linear-gradient(0deg, rgba(51, 144, 133, 0.5), rgba(51, 144, 133, 0.5));
    opacity: 0.5;
}

.homeimg{
    background-size: cover;
    background-position: center;
    object-fit: cover; 
}

.home-button{
    padding-top: 10%;
    padding-left: 1%;
}



