.choice{
    width: 100%;
    height: 100vh;
    background-color: #ECF7E6;
}

.logo{
  display: flex;
  height: 150px;
  padding-left: 5% ;
  align-items: center;
}

.logo-img{
  height: 80px;

}
.mask{
  width: 100%;
  height: 80vh;
  position: relative;
}

.mask::after{
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(0deg, rgba(51, 144, 133, 0.5), rgba(51, 144, 133, 0.5));
  opacity: 0.6;
}

.intro-img{
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  object-fit: cover;  
}

.choice-buttons{
  display: flex;
  position: absolute;
  width: 100%;
  height: 100px;
  transform: translate(-50%, -10%);
  top: 80%;
  left: 50%;
  justify-content:center;
  align-items: center;
  align-content: space-between;
  gap: 15%;
}

.choice-button-getHelp{
  width: 200px;
  color: #018977a5;
}

.choice-button-helper{
  width: 200px;
}


/*

.choice .choice-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    width: 50%;
    border: 2px solid white;
    background-color: rgba(200, 200, 200, 0.307);
    position: absolute;
}

.choice .choice-container .choice-contents{
  margin: 8%;  
}

.choice .choice-container .choice-contents h3{
  color: white;
}

.choice-buttons{
    padding-top: 10%;
}

.choice-buttons .btn{
    width: 60%;
    text-align: center;
}



.choice-buttons .buttons:hover {
         background: #829a65cc;
        color: black;
        transition: 0.3s;
      }

@media screen and (max-width: 720px)
{
  .choice .choice-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    background-color: #fff;
    border: 2px solid white;
    background-color: rgba(200, 200, 200, 0.307);
    
  }

} 

*/