.login{
  width: 100%;
  height: 100vh;
  background-color: #ECF7E6;
}

.login-comp{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.login-form{
  display: flex;
  flex-direction: column;
  padding-top: 10%;
  padding-left: 20%;
  

}

.login-container{
  display: flex;
}

.login-Img{
  display: flex;
  width: 100%;
  height: 70vh;
  position: relative;
  justify-content: center;
  padding-right: 10%;
}

.login-Img::after{
    content: "";
    width: 99%;
    height: 100%; 
    position: absolute;
    justify-content: center;
    background: linear-gradient(0deg, rgba(51, 144, 133, 0.5), rgba(51, 144, 133, 0.5));
    opacity: 0.5;
    
} 





/*
.login-form{
  display: flex;
  flex-direction: column;
  align-items: center;  
  padding: 24px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 50%;
  text-align: center;
}

*/


.login-form .login-container{
  width: 400px;
}

  
.icons{
  position: absolute;
  text-align: center;
}

.login-form > * {
    margin: 8px 0;
  }

.login-form .login-container .label{
    font-weight: 400;
    border-radius: 0px;
    
}

.input-field {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
} 

.error {
  color: red;
  margin-top: 5px;
}

.login-link{
    text-decoration: none;
    color: #10951D;
    font-size: 14px;
  
  }

.login-links{
  display: flex;
  gap: 13%;
  padding-bottom: 10%;
}


  @media screen and (max-width: 480px)
{
  .login{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  font-size: large;
  width: 90%;
  box-shadow: 0 4px 12px rgba(255, 255, 255, 0.1);
}


.input_field {
  width: 350px; 
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
} 

.error {
  color: red;
  margin-top: 10px;
  font-size: 14px;
}

.btn
  {
    font-size: large;
    color: white;
    width: 100%;
  }

  .forgot-password{
    text-decoration: none;
    color: #098eed;
    font-size: 2.5vh;
  }

.sign-up{
  text-decoration: none;
  color: #f1a90f;
  font-size: 3vh;
}

}

