.new-password-page{
    width: 100%;
  height: 100vh;
  background-color: #ECF7E6;
}

.newPassword{
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-left: 30%;
}

.newPassword-container{
    padding-top: 10%;
    text-align: center;
}

.newPassword-button{
    padding-top: 10%;
    text-align: center;
}