.newPassword{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.newPassword .signup-form{
    margin-top: 10%;
    /* height: 70vh; */
}


.error{
    width: 100%;
    padding: 8px;
}