.review{
    width: 100%;
  height: 100vh;
  background-color: #ECF7E6;
}

.review-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2%;
}

.review-stars{
    padding-left: 20%;
}

.review-button{
    text-align: center;
    padding-top: 5%;
}

.report{
    width: 100%;
   height: 100vh;
   background-color: #ECF7E6;
}

.report .report-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10%;
   
}

.report-content{
    display: flex;
    flex-direction: column;
    
}