.signUp{
  width: 100%;
  height: 100vh;
  background-color: #ECF7E6;
}

.signup-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.signup-form{
    display: flex;
    flex-direction: column;
    padding-left: 15%;
}
.image{
  display: flex;
  width: 100%;
  height: 70vh;
  position: relative;
  justify-content: center;
  padding-right: 10%;
}

.actual-img{
  height: 100%;
}

.image::after{
  content: "";
  width: 99%;
  height: 100%; 
  position: absolute;
  justify-content: center;
  background: linear-gradient(0deg, rgba(51, 144, 133, 0.5), rgba(51, 144, 133, 0.5));
  opacity: 0.5;
} 


.signup-container{
    width: 400px;
}

.signup-field{
    display: flex;
    justify-content: center;
    flex-direction: column ;
}

.signup-field .signup-button{
  
  padding-top: 13%;
  float: right;
  padding-left: 25%;
}

.signup-form label {
    margin-bottom: 2%;
  }

.signup-form input,
.signup-form select {
    width: 100%;
    padding: 10px;
    
    
}

.signup-form input[type="file"] {
    margin-bottom: 0;
}

.signup-form select {
    height: 40px;
  }
  
.text-area {
  width: 400px;
  height: 100px;
}

  
  .error-message {
    color: red;
    margin-top: 5px;
  }
  
  .file-upload-container {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .file-upload-container label {
    margin-right: 10px;
  }
  
  .file-upload-container input[type="file"] {
    display: none;
  }
  
  .file-upload-container .file-name {
    font-size: 14px;
    font-weight: bold;
    color: gray;
    margin-left: 10px;
  }

  .phone-input{
    display: flex;
    flex-direction: row;
  }

  .phone-country{
    max-width: 150px;
    margin-right: 20px;
  }

  .signup-date{
    height: 100%;
    width: 100%;
    padding-top: 15px;
  }


  /*addtional details*/
  .addtionalC-container{
    
    width: 300px;
  }

  .addtionalC-field{
      text-align: center;
      align-items: center;
  }
  
  .addtionalC-date{
      padding-top: 15%;
  }

  .addtionalH-container{
    width: 300px;
    margin-bottom: 10%;
  }

  .addtionalH-field{
      text-align: center;
      align-items: center;
  }

  .addtionalH-date{
    padding-top: 15%;
  }

  @media screen and (max-width: 720px)
{
  .signUp{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-top: 5%;
}
.addHelp{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-top: 25%;
}

.signup-form{
    /* margin: 20px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    width: 90%;
    font-size: large;
    box-shadow: 0 4px 12px rgb(255, 255, 255);
}

.signup-container{
    width: 300px;
}

.signup-field{
    padding-top: 5%;
}

.signup-form label {
    font-weight: bold;
  }

.signup-form input,
.signup-form select {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.signup-form input[type="file"] {
    margin-bottom: 0;
}

.signup-form select {
    height: 40px;
  }
  
.text-area {
  width: 400px;
  height: 100px;
}

  
  .error-message {
    color: red;
    margin-top: 5px;
  }
  
  .file-upload-container {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .file-upload-container label {
    margin-right: 10px;
  }
  
  .file-upload-container input[type="file"] {
    display: none;
  }
  
  .file-upload-container .file-name {
    font-size: 14px;
    font-weight: bold;
    color: gray;
    margin-left: 10px;
  }

  .phone-input{
    display: flex;
    flex-direction: row;
  }

  .phone-country{
    max-width: 150px;
    margin-right: 20px;
  }

  .signup-date{
    height: 100%;
    width: 100%;
    padding-top: 15px;
  }

  .input_field {
    width: 350px; 
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
  } 
}

